.password-container {
    position: relative;
    width: 100%;
}

.input-field {
    width: 100%;
    padding-right: 40px; 
    font-size: 1rem;
    padding: 10px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: gray;
    font-size: 1.2rem;
}
