
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% de la altura de la ventana */
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
}
