.form-group {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input {
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

li:hover {
    background-color: #f0f0f0;
    color: #005da4;
}
.img-button {
    width: 5px;
    height: auto;
    filter: invert(1);
}
.container3 .form-label{
    color: black;
    font-weight: normal;
}

.form-control {
    border-color: black !important;
    background-color: #f9f9f9;
}
.btn-custom {
    background-color: rgba(0, 93, 164, 1) !important;
    border: none !important;
}

.btn-custom:hover {
    background-color: rgba(0, 73, 130, 1) !important;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title, .subtitle{
    color: rgba(0, 93, 164, 1);
}
