.form-label {
    color: #005DA4;
    font-size: 1rem;
}

.mask {

}

.form-select {
    color: gray;
    font-size: .9rem;
}

.fas {
    margin-right: 5px;
}

.fas:hover {
    transform: scale(1.1);
}

.input-text-error {
    margin-top: 7px;
    color: #f44336;
    font-family: 'Montserrat', sans-serif;
    font-size: .85rem;
    display: none;
}

.input-text-error.show {
    display: block; 
}

.text-danger {
    color: #e74a3b !important;
    font-size: medium;
}