.form-label {
    color: #005DA4;
    font-size: 1rem;
}

.mask {

}

.form-select {
    color: gray;
    font-size: .9rem;
}

.fas {
    margin-right: 5px;
}

.fas:hover {
    transform: scale(1.1);
}

.input-text-error {
    margin-top: 7px;
    color: #f44336; /* Rojo para el mensaje de error */
    font-family: 'Montserrat', sans-serif;
    font-size: .85rem;
    display: none; /* Inicialmente está oculto */
}

.input-text-error.show {
    display: block; /* Muestra el error cuando se añade la clase 'show' */
}

.text-danger {
    color: #e74a3b !important;
    font-size: medium;
}