/* muiTable.css */
.MuiPaper-root {
    border-radius: 15px !important;
}

.MuiTableCell-head {
    background-color: #005DA4 !important;
    font-weight: 500 !important;
    color: #f8f9fa !important;
    font-family: 'Montserrat', sans-serif !important;
}

.MuiTableCell-body {
    font-family: 'Montserrat', sans-serif !important;
}

/* Alternar colores de filas */
.MuiTableRow-root:nth-child(even) {
    background-color: #f8f9fa !important;
}



