/* muiTable.css */
.MuiTableCell-head {
    background-color: #1976d2 !important; /* Forzar el color de fondo */
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
    padding: 12px !important;
}

.MuiTableCell-body {
    font-family: 'Montserrat', sans-serif !important;
}

/* Alternar colores de filas */
.MuiTableRow-root:nth-child(even) {
    background-color: #f8f9fa !important;
}

