/* General styling for the container */
body {
    /*background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif)*/
}

.background {
    background-image: url("public/cool-background-about.png");
    background-repeat: no-repeat; /* No repite la imagen */
    background-size: cover; /* Expande la imagen para cubrir el área */
    background-position: center; /* Centra la imagen */
}


.about-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* Centering content with a shadowed box */
.about-page-content {
    background-color: rgba(255, 255, 255, 0.91); /* Slight transparency for better contrast */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
}

/* Logo styling */
.about-page-logo {
    width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

/* Hover effect for the logo */
.about-page-logo:hover {
    transform: scale(1.05);
}

/* Heading styles */
.about-page-heading {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin-bottom: 15px;
}

/* Paragraph styling */
.about-page-description {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Button styling */
.about-page-button {
    display: inline-block;
    padding: 12px 24px;
    background: linear-gradient(135deg, #f39c12, #f1c40f);
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Button hover effect */
.about-page-button:hover {
    background: linear-gradient(135deg, #f1c40f, #f39c12);
    transform: translateY(-3px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    text-decoration: none; /* Prevent text underline */
    color: white;
}

/* Keyframe animation for fade-in effect */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
