#registro-activo-title,
#datos-activo-title {
    color: #3a5fcd; /* Color personalizado para los títulos */
}

.form-label {
    color: #3a5fcd; /* Color personalizado para las etiquetas */
}

.btn-custom {
    background-color: #3a5fcd; /* Color coral */
    color: white; /* Color del texto */
    border-color: #204fdc; /* Borde del mismo color */
}

.btn-custom:hover {
    background-color: #294086; /* Un tono más oscuro al pasar el cursor */
    border-color: #294086;
}

#icon-purchase-date,
#icon-value,
#icon-supplier,
#icon-brand,
#icon-category,
#icon-responsible,
#icon-status {
    color: #3a5fcd; /* Color personalizado para los íconos */
}

