/* Estilos Generales */
.home-container {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* Contenedor Principal */
.welcome-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-bottom: 25px;
}

.title {
    font-size: 2rem;
    color: #004080;
    margin-bottom: 15px;
}

.paragraph {
    font-size: 1.2rem;
    color: #333;
    text-align: justify;
    line-height: 1.6;
}


/* Card de Entidades */
.entity-card {
    background: #f9f9f9;
    border-radius: 12px;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
}

.entity-card:hover {
    transform: translateY(-5px);
}

.entity-title {
    font-size: 1.5rem;
    color: #002855;
    margin-top: 15px;
}

.impact-img {
    width: 90px;
    margin-bottom: 15px;
}

.workTeam-img {
    width: 150px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.escudo-img {
    width: 80px;
    margin-bottom: 15px;
}

.cimpa-img {
    width: 90px;
    border-radius: 20px;
}

/* Enlace Mejorado */
.ucr-link {
    display: inline-block;
    margin-top: 15px;
    font-size: 1rem;
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.ucr-link:hover {
    color: #023061;
    text-decoration: underline;
}


@media (max-width: 768px) {
    .entities {
        flex-direction: column; /* Stack cards on smaller screens */
        gap: 20px;
    }

    .welcome-container {
        padding: 20px; /* Reduce padding for smaller screens */
    }

    .title {
        font-size: 1.5rem; /* Adjust title size for smaller screens */
    }

    .paragraph {
        font-size: 1rem; /* Adjust paragraph size for smaller screens */
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.2rem; /* Further reduce title size on very small screens */
    }

    .paragraph {
        font-size: 0.9rem; /* Further reduce paragraph size */
    }
}

